body {
    background: black;
    font-family: sans-serif;
    color: #fff;
}

.homepagetxt {
   line-height: 1.89em;
    width: 1000px;
    margin: 10px;
    padding-top: 100px;
    padding-left: 130px;
}

.homeimg {
    float: right;
    padding-left: 200px;
}

.homeimg img {
    width: 300px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
}

.links {
    padding-left: 800px;
    top: 15px; 
    position: absolute;
}

h1 {
  padding-left: 200px;
  top: 10px;
  position: absolute;
}

h2 {
    padding: 50px;
    margin-left: 500px;
  
}

.commplan-txt {
    padding: 175px;
}
  
.webproj-img {
    float: right;
    padding: 50px;
}
  
.webproj-img img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}
  
.commplan-img {
    float: right;
    margin-right: 50px;
    padding: 50px;
}
  
.commplan-img img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
}
  
p {
    line-height: 1.2em;
    width: 800px;
    margin: 8px;
    padding-right: 50px;
}

.Xpansetxt {
    line-height: 1.89em;
    width: 1000px;
    margin: 10px;
    padding-top: 100px;
    padding-left: 130px;
}

.potbellytxt {
    line-height: 1.89em;
    width: 1000px;
    margin: 10px;
    padding-top: 300px;
    padding-left: 130px;
}

.skilltxt {
    line-height: 1.89em;
    width: 1000px;
    margin: 10px;
    padding-top: 300px;
    padding-right: 130px;
}


